/*
	Bootstrap CSS
 */
.row {
	margin-left: 10px;
}
/*
	Local CSS
 */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 999;
}
.mascot {
	position: absolute;
	top: 30%;
	left: 45%;
}
.heading {
	margin-left: 55px;
}
#preview {
	display: inline-block;
    margin-left: 6%;
    padding: 11px;
    border: 1px dotted;
}
#preview > div {
	padding: 5px;
	text-align: center;
}
#preview > div + div {
    float: left;
}
#preview > div > h4 {
	text-align: center;
}
.displayNone {
	display: none;
}